/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field div.mat-form-field-flex {
  padding-left: 0 !important;
  background-color: #fff !important;
}

.header {
  min-height: 40px;
  border-bottom: 0.5px solid #cacaca;
  background-color: #fff;

  > button {
    place-items: center;
    display: flex;
    flex: 100;
    height: 100%;
    border: 0;
    background-color: #fff;
    cursor: pointer;

    > span {
      font-size: 15px;
    }
  }

  > button.disabled {
    background-color: #fff;
    * {
      color: #cacaca;
    }
  }

  > button:hover {
    background-color: #f3f3f3;
  }
}

*.form {
  margin: 16px;

  > div.title {
    display: flex;
    flex-direction: row;
    place-items: center;
    margin-bottom: 8px;

    > span {
      font-size: 16px;
    }
  }

  @media (min-width: 700px) {
    form {
      > *.group-1 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        flex: auto;
        column-gap: 16px;

        mat-form-field {
          flex: 0 1 calc(100% - 16px)
        }
      }

      > *.group-3 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        flex: auto;
        column-gap: 16px;

        mat-form-field {
          flex: 0 1 calc(calc(100% / 3) - 16px)
        }
      }

      > *.group-4 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        flex: auto;
        column-gap: 16px;

        mat-form-field {
          flex: 0 1 calc(calc(100% / 4) - 16px)
        }
      }
    }
  }

  @media (max-width: 699px) {
    form {
      > *.group-1 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 16px;

        mat-form-field {
          flex: 0 1 calc(100% - 16px);
        }
      }

      > *.group-3 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 16px;

        mat-form-field {
          flex: 0 1 calc(calc(100% / 2) - 16px);
        }
      }

      > *.group-4 {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 16px;

        mat-form-field {
          flex: 0 1 calc(calc(100% / 2) - 16px);
        }
      }
    }
  }

  @media (max-width: 499px) {
    form {
      > *.group-1, *.group-3, *.group-4 {
        display: flex;
        flex-direction: column;
        width: 100%;

        mat-form-field {
          flex: 0 1 100%;
        }
      }
    }
  }

}
