<div class="header">
  <span>
    Cadastrar Caminhão
  </span>
  <button (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="content">
  <div class="form">
    <form [formGroup]="form">
      <div class="group-1">
        <mat-form-field>
          <mat-label>Placa</mat-label>
          <input matInput formControlName="licensePlate">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Modelo</mat-label>
          <mat-select formControlName="modelId" [placeholder]="truckModels.length == 0 ? 'Nenhum modelo cadastrado' : ''">
            <mat-option *ngFor="let truckModel of truckModels" [value]="truckModel.id">
              {{TruckModelType[truckModel.type].toUpperCase() + ' ' + truckModel.name + ' - ' + truckModel.year}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ano de Fabricação</mat-label>
          <input matInput formControlName="manufacturingYear" [readonly]="true" [required]="true">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>


<div class="footer">
  <button [disabled]="!canSave" (click)="save()" mat-raised-button color="primary">Salvar</button>
</div>
